<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-if="loggedInCompetitor">
    <h2>Logged In Competitor</h2>
    <p>Name: {{loggedInCompetitor.name}}</p>
    <p>Surname: {{loggedInCompetitor.surname}}</p>
    <p>Address: {{loggedInCompetitor.address}}</p>
    <p>Age: {{loggedInCompetitor.age}}</p>
    <p>Telephone: {{loggedInCompetitor.telephone}}</p>
    <p>Cellphone: {{loggedInCompetitor.cellphone}}</p>
    <p>City: {{loggedInCompetitor.city}}</p>
    <p>Country: {{loggedInCompetitor.country}}</p>
</div>
